
.fancy {
  text-align: center;
  text-shadow: 3px 3px #ff22f2;
  font-family: cursive;
  color: #ccc222;
  font-size: 3em;
  line-height: .5em;
}

.jumbotron.fancy {
  margin: auto;
  padding: 12px;
  color: #ffc119;
  font-size: 5em;
}

.quote {
  margin: auto;
  padding-left: 24px;
  background-color: #f49542;
}

.text-muted {
  color: #fc0000;
}

.bg-gold {
  background-color: #c1950f;
}

.bg-silver {
  background-color: #a0a09f;
}

.bg-bronze {
  background-color: #CD7F32;
}

.limecay {
  display: block;
  margin: auto;
  width: 95%;
  margin-bottom: 10px;
}
